<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" media="all" href="/assets/application-mailer-dbc5154d3c4160e8fa7ef52fa740fa402760c39b5d22c8f6d64ad5999499d263.css" />
    <style><!-- Add custom styles that you want inlined here --></style>
</head>
<!-- Edit the code below this line -->
<body class="bg-light">
<preview>Thank you for riding with Lyft!</preview>
<div class="container">
    <div class="mt-2 mb-2 text-muted">
        <img class="float-left" width="25" height="25" src="https://d2wwbq608e82yj.cloudfront.net/logo/master/logo.png" /> serandives
    </div>

    <div class="card w-100 mb-4">
        <div class="card-body">
            <img width="50" height="50" class="mx-auto" src="https://s3.amazonaws.com/lyft.zimride.com/images/emails/enterprise/briefcase_dark_large.png">
            <h4 class="text-center">Welcome</h4>
            <p class="text-center text-muted">If you signed up at serandives.com using <span class="text-primary">ruchira.wageesha@gmail.com</span>, click the button below to verify your email. If you didn't make this request, please ignore this email.</p>
            <a class="btn btn-primary btn-lg mx-auto mt-2" href="https://lyft.com">Confirm</a>
        </div>
    </div>
    <div class="text-center text-muted mb-4">© serandives.com</div>
</div>

</body>
</html>
